env/
venv/
.venv/

__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
build/
dist/

datasets/*/frames/
datasets/*/*.json

models/*.pt

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log
*.mp4
*.avi
outputs/

install/
log/